In [1]:
import pandas as pd
import matplotlib as plot
#import pytrends
from pytrends.request import TrendReq
pytrend = TrendReq(hl='en-US', tz=360)

In [2]:
acnh_villagers= pd.read_csv("villagers.csv")

In [3]:
acnh_villagers.head()

,Name,Species,Gender,Personality,Hobby,Birthday,Catchphrase,Favorite Song,Style 1,Style 2,Color 1,Color 2,Wallpaper,Flooring,Furniture List,Filename,Unique Entry ID
0,Admiral,Bird,Male,Cranky,Nature,27-Jan,aye aye,Steep Hill,Cool,Cool,Black,Blue,dirt-clod wall,tatami,717;1849;7047;2736;787;5970;3449;3622;3802;410...,brd06,B3RyfNEqwGmcccRC3
1,Agent S,Squirrel,Female,Peppy,Fitness,2-Jul,sidekick,Go K.K. Rider,Active,Simple,Blue,Black,concrete wall,colorful tile flooring,7845;7150;3468;4080;290;3971;3449;1708;4756;25...,squ05,SGMdki6dzpDZyXAw5
2,Agnes,Pig,Female,Big Sister,Play,21-Apr,snuffle,K.K. House,Simple,Elegant,Pink,White,gray molded-panel wall,arabesque flooring,4129;7236;7235;7802;896;3428;4027;7325;3958;71...,pig17,jzWCiDPm9MqtCfecP
3,Al,Gorilla,Male,Lazy,Fitness,18-Oct,ayyyeee,Go K.K. Rider,Active,Active,Red,White,concrete wall,green rubber flooring,1452;4078;4013;833;4116;3697;7845;3307;3946;39...,gor08,LBifxETQJGEaLhBjC
4,Alfonso,Alligator,Male,Lazy,Play,9-Jun,it'sa me,Forest Life,Simple,Simple,Red,Blue,yellow playroom wall,green honeycomb tile,4763;3205;3701;1557;3623;85;3208;3584;4761;121...,crd00,REpd8KxB8p9aGBRSE

In [4]:
Villagers_list = acnh_villagers['Name'].to_list()

In [5]:
#uncomment to see all the names
#Villagers_list

In [6]:
villagers = []
for item in Villagers_list:
    item = item + " Animal Crossing"
    villagers.append(item)

In [7]:
print(len(villagers))

391

In [8]:
print(len(Villagers_list))

391

In [9]:
acnh_villagers_two=["OHare Animal Crossing" if x=="O'Hare Animal Crossing" else x for x in villagers]

In [10]:
#uncomment to see the new items in list of villager name + Animal Crossing
#acnh_villagers_two

In [11]:
kw_list = acnh_villagers_two

In [12]:
trends = dict()
for i in kw_list:
   ##build out query
   pytrend.build_payload([i],timeframe='2020-03-20 2021-11-24')
   
   ##save trend to dictionary
   trends[i] = pytrend.related_queries()[i]

In [13]:
acnh_df = dict()

In [14]:
for item in acnh_villagers_two:
    i = trends[item]['rising']
    acnh_df.update({item:i})
    #print(item)
    #print(i)

In [16]:
#uncomment to see full dictionary of dataframes
#acnh_df

In [17]:
import numpy as np

In [18]:
dict_list = []
#dict_none = pd.DataFrame({"query":[np.nan],"value":[np.nan]})
for key,value in acnh_df.items():
    if type(value) == pd.DataFrame:
        value['searchitem'] = key
        dict_list.append(value)
    else:
        dict_none = pd.DataFrame({"query":[np.nan],"value":[np.nan]})
        dict_none['searchitem'] = key
        dict_list.append(dict_none)

In [20]:
#uncomment to see dict of df's to converted list
#dict_list

In [21]:
finalVillagerdf = pd.concat(dict_list, ignore_index = True)

In [22]:
finalVillagerdf.head()

                                  query     value               searchitem
0  admiral animal crossing new horizons  275000.0  Admiral Animal Crossing
1                                   NaN       NaN  Agent S Animal Crossing
2           agnes house animal crossing  192200.0    Agnes Animal Crossing
3          animal crossing new horizons  803350.0       Al Animal Crossing
4       al animal crossing new horizons  764400.0       Al Animal Crossing

In [23]:
finalVillagerdf.to_csv("final_villager_list_v2.csv",index = False)

In [24]:
#checking the type for the dictionary values in acnh_df
#UNCOMMENT - to see that they actually were df's
#for v in acnh_df.values():
    #print(type(v))